gdown
jetnet
jupyter-book
matplotlib
mplhep
numpy
pandas
pyg-lib -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
requests
scikit-learn
spektral
tensorflow
torch --extra-index-url https://download.pytorch.org/whl/cpu
torch-cluster -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
torch-geometric -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
torch-scatter -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
xgboost
zenodo_get
