gdown
ipywidgets
jetnet
jupyter-book
jupyter_contrib_nbextensions
matplotlib
mplhep
numpy
pandas
pyg-lib -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
requests
scikit-learn
spektral
tensorflow
torch==1.12.0
torch-cluster -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-geometric -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-scatter -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.12.0+cpu.html
widgetsnbextension
xgboost
zenodo_get
